<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>社会你北哥</title>
    <style type="text/css">
    body {
        overflow:hidden!important;
        padding-top: 120px;
    }
    </style>
    <!-- Le styles -->
    <script type="text/javascript" th:src="@{assets/js/jquery.min.js}"></script>

    <link  th:href="@{assets/css/style.css}" rel="stylesheet">
    <link  th:href="@{assets/css/loader-style.css}" rel="stylesheet">
    <link  th:href="@{assets/css/bootstrap.css}" rel="stylesheet">
    <link  th:href="@{assets/css/signin.css}" rel="stylesheet">
    <link  th:href="@{assets/css/extra-pages.css}" rel="stylesheet">






    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script th:src="@{http://html5shim.googlecode.com/svn/trunk/html5.js}"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" th:href="{assets/ico/minus.png}">
</head>

<body><div id="awwwards" class="right black"><a href="http://www.awwwards.com/best-websites/apricot-navigation-admin-dashboard-template" target="_blank">best websites of the world</a></div>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>


    <div class="logo-error">
        <h1>Apricot
            <span>v1.0</span>
        </h1>
    </div>

    <!-- Main content -->
    <section class="page-error">

        <div class="error-page">
            <h2 class="headline text-info">404</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
                <p>
                    We could not find the page you were looking for. Meanwhile, you may <a class="error-link" href='index.html'>return to dashboard</a> or try using the search form.
                </p>
                <form class='search-form'>
                    <input type="text" name="search" class='form-control' placeholder="Search">
                </form>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->

    </section>








    <!--  END OF PAPER WRAP -->




    <!-- MAIN EFFECT -->
    <script type="text/javascript" th:src="@{assets/js/preloader.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/app.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/load.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/main.js}"></script>


</body>

</html>
